@media (min-width: 771px) {
  html {
    overflow-x: hidden;
  }

  .booking-wrapper {
    /* background-image: url("../img/main-cover.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1300px) {
  .booking-window {
    width: 90%;
  }
}

@media (max-width: 770px) {
  html,
  body {
    overflow-x: auto;
  }

  section {
    grid-template-columns: 1fr;
  }

  .booking-window {
    width: 100%;
  }

  .overview-wrapper {
    display: none;
  }

  .active-window .service-wrapper {
    grid-template-columns: 1fr;
  }

  .service-wrapper .submit {
    margin-top: 20px;
    text-align: center;
  }

  .service-wrapper .submit button {
    width: 20%;
    padding: 8px 0;
  }

  footer {
    padding: 32px 16px;
  }

  footer .row .col {
    margin-top: 32px;
  }
}
